@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

// Variables and mixins

$PINK: rgb(183, 11, 183);
$ORANGE: rgb(255, 13, 119);
$TEAL: rgb(0, 194, 255);
$BLUE: rgb(2, 141, 255);

@mixin button() {
    border: 2px solid #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: 18px 48px;
    text-transform: uppercase;
    transition: all 0.1s ease-in;

    &:hover {
        background: #fff;
        color: #000;
    }
}

// Base, resets

html, body {
    height: 100% !important;
    overflow: auto !important;
    width: 100%;
}

body {
    color: #fff;
    font-family: "Dosis", serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

::selection {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
}

// Section styles

section {
    align-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 calc((100% - 960px) / 2);
    text-align: center;
    width: 100%;

    .section-inner {
        flex-grow: 1;
    }

    .duh {
        font-weight: 700;
        text-transform: uppercase;
    }

    .day__header {
        font-size: 48px;
        font-weight: 200;
        text-transform: uppercase;
    }

    .day__details {
        display: flex;
        align-content: center;
        align-items: center;
        font-weight: 400;
        justify-content: center;
        margin: 48px 0;

        .details__blurb {
            border-right: 1px solid #fff;
            font-size: 24px;
            padding-right: 48px;
            text-align: left;
            width: 360px;
        }

        .details__info {
            margin-left: 48px;
            text-align: left;
            width: 360px;

            .info__section {
                font-size: 24px;

                &::before {
                    display: inline-block;
                    font-weight: 700;
                    text-transform: uppercase;
                    width: 144px;
                }
            }

            .info__time {
                &::before {
                    content: "Time";
                }
            }

            .info__place {
                &::before {
                    content: "Location";
                }
            }

            .info__theme {
                &::before {
                    content: "Dress code";
                }
            }
        }
    }

    .day__fb-button {
        @include button();
    }
}

.header {
    text-align: center;
    text-transform: uppercase;

    h1, h2 {
        font-weight: 200;
        margin: 0;
    }

    h1 {
        font-size: 96px;
    }

    h2 {
        font-size: 48px;
        margin-bottom: 48px;
    }

    .header__button {
        @include button();
    }
}

.thursday {
    background: rgba($PINK, 0.8);

    .day__fb-button:hover {
        color: $PINK;
    }
}

.friday {
    background: rgba($ORANGE, 0.8);

    .day__fb-button:hover {
        color: $ORANGE;
    }
}

.saturday {
    background: rgba($TEAL, 0.8);

    .day__fb-button:hover {
        color: $TEAL;
    }
}

.sunday {
    background: rgba($BLUE, 0.8);

    .day__fb-button:hover {
        color: $BLUE;
    }
}

.subscribe {
    h2 {
        font-size: 36px;
        font-weight: 700;
        margin: 0;
        text-transform: uppercase;
    }

    h3 {
        font-size: 36px;
        font-weight: 300;
        margin: 0 auto;
        max-width: 420px;
    }

    .text {
        font-size: 24px;
        margin: 48px auto;
        max-width: 640px;
    }

    .back-to-top-button {
        @include button();
    }
}

// I do what I want

#big-video-wrap, #big-video-vid {
    position: fixed;
    z-index: -1;
}
