@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);
html, body {
  height: 100% !important;
  overflow: auto !important;
  width: 100%; }

body {
  color: #fff;
  font-family: "Dosis", serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0; }

a {
  color: inherit; }

::selection {
  background: rgba(0, 0, 0, 0.4);
  color: #fff; }

section {
  align-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0 calc((100% - 960px) / 2);
  text-align: center;
  width: 100%; }
  section .section-inner {
    flex-grow: 1; }
  section .duh {
    font-weight: 700;
    text-transform: uppercase; }
  section .day__header {
    font-size: 48px;
    font-weight: 200;
    text-transform: uppercase; }
  section .day__details {
    display: flex;
    align-content: center;
    align-items: center;
    font-weight: 400;
    justify-content: center;
    margin: 48px 0; }
    section .day__details .details__blurb {
      border-right: 1px solid #fff;
      font-size: 24px;
      padding-right: 48px;
      text-align: left;
      width: 375px; }
    section .day__details .details__info {
      margin-left: 48px;
      text-align: left;
      width: 375px; }
      section .day__details .details__info .info__section {
        font-size: 24px; }
        section .day__details .details__info .info__section::before {
          display: inline-block;
          font-weight: 700;
          text-transform: uppercase;
          width: 144px; }
      section .day__details .details__info .info__time::before {
        content: "Time"; }
      section .day__details .details__info .info__place::before {
        content: "Location"; }
      section .day__details .details__info .info__theme::before {
        content: "Dress code"; }
  section .day__fb-button {
    border: 2px solid #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: 18px 48px;
    text-transform: uppercase;
    transition: all 0.1s ease-in; }
    section .day__fb-button:hover {
      background: #fff;
      color: #000; }

.header {
  text-align: center;
  text-transform: uppercase; }
  .header h1, .header h2 {
    font-weight: 200;
    margin: 0; }
  .header h1 {
    font-size: 96px; }
  .header h2 {
    font-size: 48px;
    margin-bottom: 48px; }
  .header .header__button {
    border: 2px solid #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: 18px 48px;
    text-transform: uppercase;
    transition: all 0.1s ease-in; }
    .header .header__button:hover {
      background: #fff;
      color: #000; }

.thursday {
  background: rgba(255, 13, 119, 0.8); }
  .thursday .day__fb-button:hover {
    color: #ff0d77; }

.friday {
  background: rgba(183, 11, 183, 0.8); }
  .friday .day__fb-button:hover {
    color: #b70bb7; }

.saturday {
  background: rgba(0, 194, 255, 0.8); }
  .saturday .day__fb-button:hover {
    color: #00c2ff; }

.sunday {
  background: rgba(2, 141, 255, 0.8); }
  .sunday .day__fb-button:hover {
    color: #028dff; }

.subscribe h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase; }
.subscribe h3 {
  font-size: 36px;
  font-weight: 300;
  margin: 0 auto;
  max-width: 420px; }
.subscribe .text {
  font-size: 24px;
  margin: 48px auto;
  max-width: 640px; }
.subscribe .back-to-top-button {
  border: 2px solid #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 18px 48px;
  text-transform: uppercase;
  transition: all 0.1s ease-in; }
  .subscribe .back-to-top-button:hover {
    background: #fff;
    color: #000; }

#big-video-wrap, #big-video-vid {
  position: fixed;
  z-index: -1; }

/*# sourceMappingURL=index.css.map */
